<div gdAlignColumns="center"
     gdAlignRows="center"
     class="full-height">
  <mat-card>
    <mat-card-content>
      <div id="drum-machine">
        <div fxLayout="row"
             fxLayoutAlign="start center">
          <span id="display"
                class="mat-body-2"
                style="min-height: 24px"
                fxFlex="80">
            Letter
          </span>
          <span fxFlex="20">
            <button mat-icon-button>
              <mat-icon>more_vert</mat-icon>
            </button>
          </span>
        </div>
        <div gdColumns="1fr 1fr 1fr"
             gdGap="8px">
          <ng-container *ngFor="let button of buttons">
            <div>
              <button mat-flat-button
                      color="primary"
                      class="drum-pad"
                      [id]="button.music"
                      (click)="onButtonClick(button, audio)">
                <audio [src]="'/assets/default-music/' + button.music"
                       #audio></audio>
                {{button.display}}
              </button>
            </div>
          </ng-container>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>